@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather|Roboto');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
@font-face {
    font-family: Pacifico;
    src: url('../data/fonts/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: Chunkfive;
    src: url('../data/fonts/Chunkfive.otf') format('opentype');
}


li, h1, h3, p{
    text-align: center;
    font-family: $font-primary;

}

.landing-page{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0 ;

//    img{
//        position:relative;
//        top: -35px ;
//        width:100%;
//    }


    background-image: url('../data/images/chicago-river.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    color: $white;

    .title{
        position: absolute;
        top: 60vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        background-color: rgba(92,173,255,0.6);


        
        h1{
            font-family: $pacifico-font;
            color: $white;
            font-size: 500%;
        }
        p{
            font-family: $font-secondary;
            color: $white;
            font-size: 200%;
        }
    }


}


.top-bar li{
    background: #297ACC;

    :hover {
        background: #5CADFF;
    }

    #erik-photo {
        width: 45px;
        height: 45px;
    }
}

.top-bar-section li a:not(.button) {
    background: #297ACC !important;
}



.top-bar-section li a:not(.button):hover {
    background: #5CADFF !important;
}

.row{
    padding-bottom: 20px;

    ul{
        width:100%;
    }

}
.fullWidth {
    min-width: 100%;


    .columns{
        padding-left: 0;
        padding-right: 0;
    }
}

.carousel {
    min-width:100%;


    img{
        min-width:100%;
        min-height: 500px;
        max-height:500px;
    }


}


#portfolio{
    height: 400px;

    h1{
        margin: 50px auto;
        font-size: 300%;
    }

    h3{
        color: #297ACC;
        font-size: 200%;
    }

    img{
        width: 100px;
        height: 100px;
    }

    a.radius.button{
        background-color: rgba(92,173,255,0);
    }

    

}


#about{
    background-color: $black;
    color: $white;

    h1{
        margin: 50px auto;
        font-size: 300%;
        color: $white;
    }
}

.footer {
    background-color: $black;
    width: 100%;
    height: 100px;

    .social-media-list {
        width: 200px;
        height: 60px;
        margin: 0 auto;
        padding-top: 30px;

        li {
            display: inline;

            a{
                box-shadow: 0px 0px 0px $gray;
                opacity: 1;
                transition: opacity .25s ease;
                transition: 1s ease 0s;

                :hover {
                    box-shadow: 0px 5px 0px $gray;
                    opacity: 0.5;
                }
            }

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}



.skills-class{
    p{
        margin: 20px auto;
        font-size: 100%;
    }

    h3{
        color: #297ACC;
        font-size: 200%;
    }
}



