$orange         : #BD3613;
$blue           : #2176C7;
$black 			: #212121;
$white			: #ffffff;
$gray           : #CCCCCC;


$font-primary: Roboto;
$font-secondary: Bree Serif, serif;
$pacifico-font: Pacifico;
$chunkfive-font: Chunkfive;

$default-border-radius : 10px;