


<div ng-controller="DetailCtrl" >
    <div class="row" style="background-color: #c7c7c7;">
        <div class="row" style=" padding-top: 3%; padding-bottom: 2%;">
            <div class="columns small-centered small-12 medium-centered medium-6 large-centered large-9">
                <div style="display: inline">
                    <ul class="left">
                        <li>
                            <a ng-href="#/detail/:{{prev}}" class="button">Prev</a>
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                            <a ng-href="#/detail/:{{next}}" class="button">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns  small-6  medium-6 large-centered  large-3">
                <img ng-src="./data/images/{{movie.imdbID}}.jpg">
            </div>
            <div class="columns text-center small-centered small-9  medium-6  large-6">
                <div>
                    <h4>Movie Info:</h4>
                    <ul>
                        <li><span>{{movie.title}}</span></li>
                        <li><span>{{movie.rated}}</span></li>
                        <li><span>{{movie.released}}</span></li>
                        <li><span>{{movie.runtime}}</span></li>
                        <li><span>{{movie.genre}}</span></li>
                        <li><span>{{movie.director}}</span></li>
                        <li><span>{{movie.language}}</span></li>
                        <li><span>{{movie.awards}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>